@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
.pagebody {
	width: 800px;
	display: flex;
	justify-content: space-around;
	margin: 50px auto;

	.box {
		width: 300px;
		height: 300px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: darkorange;
	}

	.css0:hover {
		background-color: red;
	}

	.css1:hover {
		transform: scale(1.2);
	}

	.css2 {
		transition: transform 1s;
	}

	.css2:hover {
		transform: scale(1.2);
	}

	.js2 {
		transition: transform 1s;
	}

}

.datebox {
	width: 300px;
	height: 100px;
	margin: 0 auto;
	border: 3px solid #000;

	#clock_frame {
		width: 100%;

		#clock_time {
			display: block;
			float: right;
			width: 85%;
			font-size: 2em;
		}
	}
}

.baner {
	width: 300px;
	height: 150px;
	overflow: hidden;
	border: 1px solid #000;
	padding: 0;
	position: relative;

	li {
		position: absolute;
		top: 150px;
		text-align: center;
		height: 100%;
		width: 100%;
		list-style-type: none;
		transition: top 2s;
	}

	li:first-child {
		top: 0;
		left: 0;
		background-color: antiquewhite;
	}

	li:nth-child(2) {
		background-color: aqua;
	}

	li:nth-child(3) {
		background-color: cadetblue;
	}

	li:last-child {
		background-color: dodgerblue;
	}
}

.modal {
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	.modal_wrap {
		width: 400px;
		height: 300px;
		background-color: #fff;
		text-align: center;

		.close {
			text-align: center;
			border: 1px solid #000;
			width: 100px;
			margin: 0 auto;
			cursor: pointer;
		}
	}
}

.tab {
	list-style: none;
	display: flex;
	margin-top: 50px;
	.tab_list {
		cursor: pointer;
		width: 150px;
		height: 30px;
		text-align: center;
		border: 1px solid #000;
	}
}
.tab_display{
	list-style: none;
	.tab_main{
		width: 500px;
		height: 300px;
		display: none;
	}
	.tab_main:first-child{
		background-color: coral;
		display: block;
	}
	.tab_main:nth-child(2){
		background-color:floralwhite;
	}
	.tab_main:last-child{
		color: #000;
		background-color: dimgray ;
	}
}
#maps{
	width: 500px;
	height: 300px;
}
