@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
.pagebody{
	width: 900px;
	margin: 0 auto;
}
h1 , h2 ,h3{
	margin: 10px 0;
}
section{
	margin: 10px 0 20px;
}
.mark{
	margin: 10px auto 10px 10px;
	font-size: 14px;
}
.mark::before{
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #000;
}
#itemList{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 10px 0 20px;
}
.item{
	width: 150px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid #000;
	background-color: #8D8DFF;
}
.youtube{
	width: 500px;
	height: 350px;
	box-sizing: border-box;
	border: 1px solid #000;
	background-color: #e7b5ff;
	position: relative;
}
.youtube p{
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	text-align: center;
}
address{
	margin-top: 20px;
	font-size: 14px;
}