@charset 'utf-8';
.pagebody{
	width: 740px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
img{
	width: 100%;
	height: 100%;
	display: block;
}
figure{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 290px;
	height: 290px;
	background-color: grey;
	position: relative;
}

figcaption{
	z-index: 1;
	position: absolute;
	top: 7%;
	left: 7%;
}
.img{
	width: 90%;
	height: 90%;
	transition: all 1s;
	position: relative;
}
.img p{
	position: absolute;
	top: 40%;
	left: 45%;
}
.zoom{
	background-color: pink;
}
.zoom:hover{
	transform: scale(1.1);
}
.blur{
	background-color: darkseagreen;
}
.blur:hover{
	filter: blur(10px);
}
.grayscale{
	background-color: cadetblue;
}
.grayscale:hover{
	filter: grayscale(100%);
}
.rotate{
	background-color: lightgoldenrodyellow;
}
.rotate:hover{
	transform: rotate(180deg) scale(1.1);
}