@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.logo{
	width: 400px;
	height: 70px;
	border: 1px solid #000;
	background-color: aquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 0 50px 50px;
}
.box{
	width: 1000px;
	margin:0 auto;
}
input{
	height: 20px;
	border: 1px solid #000;
	vertical-align: text-bottom;
}
input[type=radio]{
	display: none;
}
input[type="textarea"]{
	vertical-align: top;
}
.radio1{
	position: relative;
}
.radio1::before{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	border-radius: 50%;
	vertical-align: baseline;
}
.radio1::after{
	content: "";
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 2px;
	width: 6px;
	height:6px;
	border: 1px solid #000;
	border-radius: 50%;
	vertical-align: baseline;
}
.radio::before{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	border-radius: 50%;
	vertical-align: baseline;
}
.bg_w{
	background-color: #fff;
}
ul{
	list-style-type: none;
}
table{
	width: 900px;
	margin: 0 auto;
	border-collapse: collapse;
}
caption{
	height: 30px;
	background-color: #efefef;
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
}
tr{
	
}
th{
	width: 220px;
	padding:20px;
	text-align: start;
	vertical-align: top;
	position: relative;
	background-color: #dbb5e3;
	border: 1px solid #000;
}
.any + td p{
	margin: 10px 0;
}
.required{
	vertical-align: middle;
	background-color: transparent;
}
td{
	padding: 20px;
	border: 1px solid #000;
}
.name .jp{
	padding-left: 16px;
}
.name input{
	width: 150px;
	margin-right: 50px;
}
.inputL{
	width: 300px;
}
.th-item{
	display: block;
	width: 40px;
	text-align: center;
	background-color: red;
	color: #fff;
	font-weight: normal;
	position: absolute;
	right: 15px;
	top: 15px;
}
select{
	width: 100px;
	background-color: white;
	border: thin solid black;
	border-radius: 0px;
	display: inline-block;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.check{
	border: 1px solid #000;
	display: inline-block;
	width: 16px;
	height: 17px;
	vertical-align: middle;
	margin-left: -23px;
	position: relative;
}
.check::before{
	content: "";
	display: block;
	position: absolute;
	top: 7px;
	left: 1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7px 0 7px;
	border-color: #000000 transparent transparent transparent;

}
.other{
	width: 500px;
	height: 300px;
}
.small{
	width: 340px;
	margin: 40px auto 0;
}

.send{
	width: 450px;
	height: 60px;
	font-size: 16px;
	font-weight: bold;
	background-color: red;
	margin: 0 auto;
	display: block;
}