@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
img{
	width: 100%;
	height: 100%;
}
.pagebody{
	width: 1000px;
	margin: 0 auto;
}
h1{
	font-size: 20px;
	text-shadow: 5px 5px rgba(0,0,0,0.5);
}
.clear::after{
	content: "";
	display: block;
	clear: both;
}
.box table{
	border-collapse: collapse;
}
.box table td{
	height: 21px;
}
.box table td:nth-child(1){
	padding-left: 5px;
}
.box table td:nth-child(2){
text-align: end;
	padding-right: 5px;
	background-color: oldlace;
}
.box table td:nth-child(3){
text-align: center;
}
.box table td:nth-child(4){
	text-align: center;
}
.pagebody .box table .bg_w{
	background-color: #fff;
}
caption{
	text-align: start;
	letter-spacing: 0.5em;
}
.left{
	float: left;
}
.fukidashi {
	position: absolute;
	display: inline-block;
	margin: 1.5em 15px 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background-color: bisque;
	border: solid 1px #000;
	box-sizing: border-box;
	border-radius: 15px;
	top: 500px;
	left: 240px;
}

.fukidashi:before {
	content: "";
	position: absolute;
	top: 50%;
	right: -24px;
	margin-top: -12px;
	border: 12px solid transparent;
	border-left: 12px solid bisque;
	z-index: 2;
}

.fukidashi:after {
	content: "";
	position: absolute;
	top: 50%;
	right: -28px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-left: 14px solid #000;
	z-index: 1;
}

.fukidashi p {
	margin: 0;
	padding: 0;
}
.face{
	position: absolute;
	border: 1px solid #000;
	border-radius: 50%;
	top: -20px;
	right: 0;
	background-color: aqua;
	opacity: 0.6;
	width: 40px;
	height: 40px;
}
.face:before{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 7px;
}
.face:after{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 7px;
}
.left table{
	width:520px;
	border: 1px solid purple;
}
.left table th{
	border: 1px solid purple;
	background-color: purple;
	color: #fff;
}
.left table td{
	border-left: 1px solid purple;
}
.left table tr{
	border-top: 1px dashed purple;
}
.left .double{
	border-top: 4px double purple;
	border-bottom: 1px solid purple;
}
.left table th:nth-child(1){
	width: 200px;
}
.left table td:nth-child(2){
	width: 125px;
}
.left table td:nth-child(3){
	width: 110px;
}
.pagebody .left table tfoot tr td{
	background-color: cornflowerblue;
}.pagebody .left table tfoot tr td:first-child{
	text-align: center;
}
.right{
	float: left;
	margin-left: 20px;
}
.right table{
	width: 455px;
	border: 1px solid red;
}
.right table th{
	border: 1px solid red;
	background-color: red;
	color: #fff;
}
.right table td{
	border-left: 1px solid red;
}
.right table tr{
	border: 1px dashed red;
}
.right .double{
	border-top: 4px double red;
}
.right table th:nth-child(1){
	width: 130px;
}
.right table td:nth-child(1){
	background-color: darksalmon;
}.right table td:nth-child(2){
	width: 130px;
}.right table td:nth-child(3){
	width: 100px;
}
.right table td:nth-child(3),.right table td:nth-child(4){
	text-align: end;
	padding-right: 5px;
}
.font_r{
	color: red;
}

section h2{
	font-size: 18px;
}
section ul{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}