@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
.main{
	width: 400px;
	border: 1px solid #000;
	margin: 50px auto;
}
form{
	width: 300px;
	margin: 50px auto;
}
a{
	color: #000;
}
input{
	border-radius: 0%;
	border: 1px solid #000;
}
.item{
	margin: 20px 0;
}
label{
	margin: 40px 0 10px;
	display: block;
}
#user ,#pass ,#login{
	width: 99%;
	height: 40px;
	font-size: 20px;
	background-color: #fff3b8;
}
#check{
	display: none;
}
#check + span{
	position: relative;
}
#check + span::before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	border: 1px solid #000;
	vertical-align: text-top;
}
.checkmark{
	position: relative;
}
.checkmark::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 2px;
	height: 7px;
	width: 14px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	transform: rotate(-45deg);
}
#login{
	background-color: #8b9cfe;
}