@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
img{
	height: 100%;
	width: 100%;
}
.pagebody{
	width: 1000px;
	margin: 0 auto;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
header p{
	font-weight: bold;
	font-size: 23px;
	color: darkorange;
	margin: 10px;
}
.box{
	width: 900px;
	margin: 10px auto 20px;
	list-style-type: none;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.item{
	width: 15%;
	margin-left: 6.25%;
	float: left;
}
.item:first-child{
	margin-left: 0;
}
.img{
	width: 100%;
	height: 135px;
	background-color: antiquewhite;
	text-align: center;
}
.name{
	display: block;
	height: 85px;
	text-decoration: none;
	font-size: 17px;
	overflow: hidden;
	line-height: 1.2em;
}
.starArea{
	text-align: end;
	padding-right: 10px;
	display: flex;
	justify-content: space-between
}
.starArea img{
	display: block;
	width: 50px;
}
.price{
	color: red;
	display: flex;
	justify-content: space-between;
}
.price div{
	color: aqua;
	margin: 0 0 0 auto;
}
footer{
	margin-top: 15px;
	text-align: center;
}
